# ─────────────────────────────────────────────────────────────
#  Lawrence Bot – Variables d'environnement
#  Copie ce fichier en .env et remplis les valeurs
# ─────────────────────────────────────────────────────────────

# Token du bot (trouvé sur https://discord.com/developers/applications)
DISCORD_TOKEN=TON_TOKEN_ICI

# ID d'application du bot
CLIENT_ID=TON_CLIENT_ID_ICI

# ID du serveur Discord (Guild ID)
GUILD_ID=TON_GUILD_ID_ICI
